# Similitud Notebook
#### En este notebook podremos analizar con más facilidad la similitud entre las respuestas calificadas con mayor calificación con las de menor

In [1]:
# importo librerias
import spacy
import numpy as np
import pandas as pd

spa_lex = spacy.load('es_core_news_md')

#### Importamos el CSV original como un dataframe

In [18]:
df = pd.read_csv("C:/Users/Drablaguna/Desktop/UNAM/EvaluacionCognitiva/cuenta_de_palabras/WORDCOUNT_SECUNDARIA.csv")

#### Funciones

In [2]:
# funciones para eliminar caracteres de puntuacion
def evalChar(x):
    if x in [",",".",":",";","`","'",'"',"(",")","-","_","~","/","?","¿","="]:
        x = ""
    return x
def cleanString(x):
    s = map(evalChar, x)
    s = "".join(list(s))
    return s

In [3]:
# funcion para inicializar el diccionario de resultados, para tener resultados diferente por prueba
def start_dict():
    dic = {
    'token_base': [],      # tokens originales
    'token_toCompare': [], # token con el que se comparo
    'similarity': [],      # valor de la similitud de ambos
    'total_sim_mean': 0    # promedio similitud por frase
    }
    return dic

In [4]:
# funcion para analizar
def analize(base, comparer):
    dic = start_dict()
    for token_base in base:
        for token_toCompare in comparer:
            t1 = token_base.text
            t2 = token_toCompare.text
            simil = token_base.similarity(token_toCompare)
            dic['token_base'].append(t1)
            dic['token_toCompare'].append(t2)
            dic['similarity'].append(simil)
    # genero el promedio de similitud que fue extraido de la sim de cada token con token
    dic['total_sim_mean'] = np.mean(dic['similarity'])
    return dic

In [5]:
# funcion para analizar rapido y mostrar similitud
def quickize(master_row, row):
    master_row = spa_lex(master_row)
    row = spa_lex(row)
    dic = analize(master_row, row)
    return dic

### Debajo pondremos la respuesta a ser comparada

In [6]:
master_row = spa_lex('por que hace mucho ruido')

### Debajo pondremos la respuesta que compararemos

In [7]:
row = spa_lex('que es fastidioso')

### Ejecutamos el analisis

In [8]:
results = analize(master_row, row)

### Resultado (SECU_TODO_CLEAN)

In [19]:
# promedio similitud entre respuestas
print('3 a 1: ' + str(results['total_sim_mean']))
#print('\n')
#print(list(zip(results['token_base'], results['token_toCompare'], results['similarity'])))

3 a 1: 0.7051820238431294

### Resultado (WORDCOUNT_SECUNDARIA)

In [10]:
# aqui se han retirado las STOPWORDS
# de acuerdo al siguiente criterio de quickPlotter.py usando Spacy
# if token.is_stop or token.is_punct or token.is_quote or len(token) == 1

r = quickize('ruido', 'fastidioso')
print('3 a 1: ' + str(r['total_sim_mean']))
#print('\n')
#print(list(zip(results['token_base'], results['token_toCompare'], results['similarity'])))

3 a 1: 0.50617975

In [11]:
r = quickize('persona gritona','hermano etsa gordo pasa gritando')
print('3 a 1: ' + str(r['total_sim_mean']))

3 a 1: 0.32015392

In [16]:
r = quickize('hermano grita','grita')
print('3 a 3: ' + str(r['total_sim_mean']))

r = quickize('hermano grita','ruido')
print('3 a 3: ' + str(r['total_sim_mean']))
                   
r = quickize('hermano grita','gritos')
print('3 a 3: ' + str(r['total_sim_mean']))

print('\n')

r = quickize('grita','grita')
print('3 a 3: ' + str(r['total_sim_mean']))

r = quickize('grita','ruido')
print('3 a 3: ' + str(r['total_sim_mean']))
                   
r = quickize('grita','gritos')
print('3 a 3: ' + str(r['total_sim_mean']))

3 a 3: 0.7727020084857941
3 a 3: 0.44147807
3 a 3: 0.5552541


3 a 3: 1.0
3 a 3: 0.4979604
3 a 3: 0.66183156

### Dataframe base

In [20]:
# obtengo los valores de respuestas limpias y sus evaluaciones en un dataframe
df_base = df[['explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_clean_ans', 'explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_eval']]
df_base.head(5)

,explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_clean_ans,explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_eval
0,[ruido],3
1,"[hermano, grita, normal]",3
2,"[persona, gritona]",3
3,"[nino, grita]",3
4,[griton],3

### Dataframe no evaluado a 3

In [33]:
# selecciono todas las rows que esten evaluadas con todo menos 3
df_not_three = df_base.loc[df_base['explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_eval'] < 3]
df_not_three.head(5)
#df1 = df1.reset_index()
#df_not_three = list(map(cleanString, df1['explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos']))

,explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_clean_ans,explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_eval
31,"[nolo, xd]",1
36,"[tocan, grito]",2
41,"[pegan, pone, gritar]",2
42,"[pasa, gritando, pensativo, ajajjajaj]",2
43,[grita],2

### Dataframe evaluado ==  3

In [35]:
# selecciono todas las rows que esten evaluadas 3
df_three = df_base.loc[df_base['explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_eval'] == 3]
df_three.head(5)

,explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_clean_ans,explica_lo_que_quiere_decir_mi_hermanito_es_una_pelota_de_gritos_eval
0,[ruido],3
1,"[hermano, grita, normal]",3
2,"[persona, gritona]",3
3,"[nino, grita]",3
4,[griton],3